.add-to-cart {
    width: 90px;
    justify-content: space-between
}

.change-quantity {
    width: 150px;
    height: 50px;
    padding-left: 10%
}

.quantity-input {
    width: 50px
}

.add-button {
    height: 50px;
    width: 300%;
    text-align: center;
}

.add-button-wrapper {
    padding-left: 40%
}